@charset "UTF-8";
html body {
  width: 100%;
  min-width: 1400px;
  height: auto;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  position: relative;
  background: #ae35e9;
}
html body header {
  width: 100%;
  height: 108px;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}
html body header article {
  width: 1400px;
  height: 108px;
  margin: auto;
}
html body header article .top-1 {
  width: 730px;
  height: 44px;
  float: right;
}
html body header article .top-1 .top-1-box {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
html body header article .top-1 .top-1-box input {
  width: 140px;
  height: 24px;
  background: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 3px 4px #000000e0;
          box-shadow: 1px 3px 4px #000000e0;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  margin-left: 8px;
}
html body header article .top-1 .top-1-box .text-picture {
  width: 15px;
  height: 15px;
  background: url(../img/input-icon-1.png) no-repeat;
  position: absolute;
  margin: -20px 0 0 16px;
}
html body header article .top-1 .top-1-box .password-picture {
  width: 15px;
  height: 15px;
  background: url(../img/input-icon-2.png) no-repeat;
  position: absolute;
  margin: -20px 0 0 200px;
}
html body header article .top-1 .top-1-box button {
  width: 67px;
  height: 24px;
  background: #00000040;
  border: 2px solid #ffe249;
  border-radius: 50px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: 3px;
  -webkit-box-shadow: 1px 3px 4px #000000e0;
          box-shadow: 1px 3px 4px #000000e0;
}
html body header article .top-1 .top-1-box button:hover, html body header article .top-1 .top-1-box button:active, html body header article .top-1 .top-1-box button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeda4), to(#f5d753));
  background: linear-gradient(to bottom, #ffeda4 0%, #f5d753 100%);
  color: #000;
  border: 2px solid #fff;
}
html body header article .top-1 .top-1-box .forget-box {
  width: 88px;
  height: 24px;
  background: #00000040;
  border: 2px solid #ffe249;
  border-radius: 50px;
  position: absolute;
  display: inline;
  text-align: center;
  margin-left: 5px;
  -webkit-box-shadow: 1px 3px 4px #000000b3;
          box-shadow: 1px 3px 4px #000000b3;
}
html body header article .top-1 .top-1-box .forget-box .forget {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
html body header article .top-1 .top-1-box .chinese-select {
  width: 90px;
  height: 24px;
  background: #00000040;
  border: 2px solid #ffe249;
  border-radius: 50px;
  line-height: 24px;
  position: absolute;
  margin-left: 104px;
  -webkit-box-shadow: 1px 3px 4px #000000b3;
          box-shadow: 1px 3px 4px #000000b3;
}
html body header article .top-1 .top-1-box .chinese-select select {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding-left: 17px;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: absolute;
}
html body header article .top-1 .top-1-box .chinese-select select option {
  background: #ffe249;
  font-weight: 600;
  color: #000;
}
html body header article .top-2 {
  width: 1400px;
  height: 64px;
  background-color: #fff;
  border-radius: 50px;
  float: right;
}
html body header article .top-2 .logo {
  width: 153px;
  height: 51px;
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  margin: 3px 0 0 25px;
  float: left;
}
html body header article .top-2 ul {
  width: 1050px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  float: left;
}
html body header article .top-2 ul li {
  font-size: 18px;
  text-align: center;
  line-height: 64px;
  color: #d7075f;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html body header article .top-2 ul li:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 0;
  right: 0;
  left: auto;
  bottom: 0;
  height: 3px;
  background: #d7075f;
}
html body header article .top-2 ul li:hover:after, html body header article .top-2 ul li:active:after, html body header article .top-2 ul li:active:after {
  width: 100%;
  left: 0;
}
html body header article .top-2 .top-2-icon {
  width: 125px;
  height: 40px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 13px 0 0 33px;
}
html body header article .top-2 .top-2-icon .icon {
  width: 31px;
  height: 32px;
  background: url(../img/top-icon.png) no-repeat;
  cursor: pointer;
}
html body header article .top-2 .top-2-icon .line {
  background-position: calc(100% + 32px);
}
html body header article .top-2 .top-2-icon .message {
  background-position: calc(100% + 0px);
}
html body main {
  width: 100%;
  height: auto;
}
html body main article {
  width: 1400px;
  height: auto;
  margin: auto;
}
html body main article .banner {
  width: 1400px;
  height: 405px;
}
html body main article .banner .swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
html body main article .banner .swiper-slide {
  width: 100%;
  height: 405px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
html body main article .banner .swiper-slide.img-1 {
  background: url(../img/banner-1.png) no-repeat center;
  background-size: 100%;
}
html body main article .banner .swiper-slide.img-2 {
  background: url(../img/banner-2.png) no-repeat center;
  background-size: 100%;
}
html body main article .banner .swiper-slide.img-3 {
  background: url(../img/banner-1.png) no-repeat center;
  background-size: 100%;
}
html body main article .banner .swiper-pagination {
  bottom: 45px;
}
html body main article .banner .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #330077;
  border: 2px solid #ffe249;
  opacity: unset;
  outline: none;
}
html body main article .banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
html body main article .news {
  width: 1375px;
  height: 37px;
  background: #0000005c;
  border-radius: 50px;
  border: 2px solid #ffe249;
  margin-left: 20px;
}
html body main article .news marquee {
  width: 1300px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
  margin-left: 25px;
}
html body main article .news-icon {
  width: 47px;
  height: 46px;
  background: url(../img/news-icon.png) no-repeat;
  z-index: 99;
  float: left;
  margin: -40px 0 0 0;
}
html body main article .eight-main {
  width: 100%;
  height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 35px;
}
html body main article .eight-main .eight-bg {
  width: 315px;
  height: 305px;
  background: url(../img/main-bg.png) no-repeat;
  cursor: pointer;
}
html body main article .eight-main .eight-bg:hover, html body main article .eight-main .eight-bg:active, html body main article .eight-main .eight-bg.active {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
html body main article .eight-main .eight-bg:hover .eight-hover, html body main article .eight-main .eight-bg:active .eight-hover, html body main article .eight-main .eight-bg.active .eight-hover {
  opacity: 1;
  -webkit-animation: circle 0.6s ease-in;
          animation: circle 0.6s ease-in;
}
@-webkit-keyframes circle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html body main article .eight-main .eight-bg:hover p, html body main article .eight-main .eight-bg:active p, html body main article .eight-main .eight-bg.active p {
  color: #ac04ff;
  font-size: 30px;
}
html body main article .eight-main .eight-bg .eight-img {
  width: 315px;
  height: 305px;
  background: url(../img/eight-img.png);
  position: absolute;
  margin: -57px 0 0 0;
  pointer-events: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
html body main article .eight-main .eight-bg .girl-2 {
  background-position-x: calc(100% + 750px);
}
html body main article .eight-main .eight-bg .fish {
  background-position-x: calc(100% + 385px);
}
html body main article .eight-main .eight-bg .tiger {
  background-position-x: calc(100% + 35px);
}
html body main article .eight-main .eight-bg .ball {
  background-position-y: calc(100% + 712px);
}
html body main article .eight-main .eight-bg .pe {
  background-position-y: calc(100% + 712px);
  background-position-x: calc(100% + 730px);
}
html body main article .eight-main .eight-bg .card {
  background-position-y: calc(100% + 712px);
  background-position-x: calc(100% + 385px);
}
html body main article .eight-main .eight-bg .card-2 {
  background-position-y: calc(100% + 712px);
  background-position-x: calc(100% + 35px);
}
html body main article .eight-main .eight-bg .eight-hover {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: #000c;
  border: 3px dotted #ffffd6;
  position: absolute;
  margin: 82px 0 0px 38px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
html body main article .eight-main .eight-bg .eight-hover .eight-hover-text {
  width: 60px;
  height: 60px;
  color: #fff1be;
  font-size: 26px;
  font-weight: bold;
  margin: 41px auto;
  text-align: center;
  letter-spacing: 2px;
}
html body main article .eight-main .eight-bg .eight-hover .eight-hover-text:hover, html body main article .eight-main .eight-bg .eight-hover .eight-hover-text:active, html body main article .eight-main .eight-bg .eight-hover .eight-hover-text.active {
  font-size: 28px;
}
html body main article .eight-main .eight-bg p {
  width: 264px;
  height: 49px;
  border-radius: 50px;
  color: #3e0182;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
  margin: 236px 0 0 5px;
  position: absolute;
  cursor: pointer;
}
html body footer {
  width: 100%;
  height: auto;
}
html body footer .footer-top {
  width: 100%;
  height: 57px;
  background: url(../img/footer-1.png) no-repeat;
}
html body footer .footer-top article {
  width: 1400px;
  height: auto;
  margin: auto;
}
html body footer .footer-top article ul {
  width: 695px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: left;
}
html body footer .footer-top article ul li {
  width: 116px;
  height: auto;
  text-align: center;
  line-height: 57px;
  color: #d7075f;
  font-weight: bold;
  cursor: pointer;
}
html body footer .footer-top article span {
  position: absolute;
  float: right;
  text-align: center;
  line-height: 57px;
  color: #d7075f;
  font-weight: bold;
  right: 320px;
}
html body footer .footer-bottom {
  width: 100%;
  height: 98px;
  background: #f7ac46d9;
}
html body footer .footer-bottom article {
  width: 1400px;
  height: 98px;
  margin: auto;
}
html body footer .footer-bottom article .footer-text {
  width: 755px;
  height: auto;
  margin: auto;
  padding-top: 16px;
}
html body footer .footer-bottom article .footer-text p {
  text-align: center;
  line-height: 29px;
  font-size: 13px;
  color: #291143;
  font-weight: bold;
}
html body .fix-right {
  width: 223px;
  height: 259px;
  background: url(../img/flix-right.png) no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
}
html body .fix-left {
  width: 221px;
  height: 298px;
  background: url(../img/flix-left.png) no-repeat;
  position: fixed;
  bottom: 0;
  left: 0;
}
html body .top {
  width: 78px;
  height: 97px;
  background: url(../img/top.png);
  position: fixed;
  bottom: 99px;
  right: 90px;
  cursor: pointer;
}
html body .fish-left {
  width: 85px;
  height: 111px;
  background: url(../img/fiiiish.png) no-repeat;
  position: fixed;
  left: 20px;
  -webkit-animation: box 3.5s infinite;
          animation: box 3.5s infinite;
}
@-webkit-keyframes box {
  0% {
    top: 350px;
  }
  50% {
    top: 320px;
  }
  100% {
    top: 350px;
  }
}
@keyframes box {
  0% {
    top: 350px;
  }
  50% {
    top: 320px;
  }
  100% {
    top: 350px;
  }
}
html body .cell-download {
  width: 62px;
  height: 88px;
  background: url(../img/fix-icon.png) no-repeat;
  position: fixed;
  top: 172px;
  left: 20px;
  cursor: pointer;
}
html body .cell-download .cell-img {
  width: 35px;
  height: 43px;
  background: url(../img/iphon.png) no-repeat;
  margin: 20px 0 0 9px;
}
html body .cell-download .cell-text {
  width: 35px;
  height: 88px;
  text-align: center;
  line-height: 35px;
  width: 20px;
  height: 88px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: -62px 0px 0px 61px;
  pointer-events: none;
  display: none;
}
html body .cell-download:hover, html body .cell-download:active, html body .cell-download:active {
  background-position-x: calc(100% - 0px);
}
html body .cell-download:hover .cell-img, html body .cell-download:active .cell-img, html body .cell-download:active .cell-img {
  background-position-x: calc(100% - 0px);
}
html body .cell-download:hover .cell-text, html body .cell-download:active .cell-text, html body .cell-download:active .cell-text {
  display: block;
  pointer-events: visible;
}
html body .download-24 {
  width: 62px;
  height: 88px;
  background: url(../img/fix-icon.png) no-repeat;
  background-position-x: calc(100% - 0px);
  position: fixed;
  top: 172px;
  right: 20px;
  cursor: pointer;
}
html body .download-24 .download-24-img {
  width: 41px;
  height: 35px;
  background: url(../img/24-icon.png);
  background-position-x: calc(100% - 0px);
  margin: 23px auto;
  cursor: pointer;
}
html body .download-24 .download-text {
  width: 35px;
  height: 88px;
  text-align: center;
  line-height: 35px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 0px 0px -33px;
  position: absolute;
  pointer-events: none;
  display: none;
}
html body .download-24:hover, html body .download-24:active, html body .download-24:active {
  background-position-x: calc(100% + 63px);
}
html body .download-24:hover .download-24-img, html body .download-24:active .download-24-img, html body .download-24:active .download-24-img {
  background-position-x: calc(100% + 41px);
}
html body .download-24:hover .download-text, html body .download-24:active .download-text, html body .download-24:active .download-text {
  display: block;
  pointer-events: visible;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -999;
}