html body {
    width: 100%;
    min-width: 1400px;
    height: auto;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    position: relative;
    background: #ae35e9;

    .sign-bg {     //登入窗
        width: 100%;
        height: 100%;
        background-color: #000000ba;
        z-index: 999;
        position: absolute;
        display: none;

        &.display {
            display: block;
        }

        .signin-box {
            width: 360px;
            height: 290px;
            background: linear-gradient(to bottom, #de53ff 0%,#6403cf 100%);
            border: 3px solid #fff1be;
            border-radius: 20px;
            margin: auto;
            margin-top: 200px;

            .signin-cross {
                width: 61px;
                height: 61px;
                border-radius: 50%;
                background: url(../img/cross.png) no-repeat;
                background-size: 100%;
                left: 330px;
                top: -30px;
                position: relative;
                cursor: pointer;
                transition: 0.4s;

                &:hover,&:active,&.active {
                    transform: rotate(90deg);
                }
            }

            p {
                font-size: 30px;
                color: #fff;
                font-weight: bold;
                position: absolute;
                margin: auto;
                margin: -35px 0 0 150px;
            }

            input {
                width: 165px;
                height: 35px;
                border-radius: 20px;
                padding-left: 92px;
                color: #4c3367;
                background: #fff;
                border: none;
                outline: none;
                box-shadow: 1px 3px 4px #000000e0;
                font-size: 16px;
                font-weight: bold;
                margin: 12px 0 0px 51px;
            }

            input::-webkit-input-placeholder {
                color: #4c3367;
            }

            .goto-regidtertd-box {
                width: 182px;
                height: 20px;
                display: inline-flex;
                position: relative;
                margin: 10px 0 0 58px;

                div {
                    font-size: 14px;
                    color: #fff;
                }

                .goto-registered {
                    font-size: 14px;
                    color: #12ff00;
                    text-decoration: none;
                    font-weight: bold;
                }
            }

            .goto-forget {
                font-size: 14px;
                color: #fff;
                text-decoration: none;

                &:hover,&:active,&.active {
                    color: #12ff00;
                }
            }

            button {
                width: 166px;
                height: 47px;
                outline: none;
                border: none;
                border-radius: 50px;
                background: url(../img/signbox-sign.png) no-repeat;
                background-size: 100%;
                font-size: 22px;
                color: #d7075f;
                font-weight: bold;
                line-height: 47px;
                margin: 23px 0 0 99px;
                cursor: pointer;
                transition: 0.1s;

                &:hover,&:active,&.active {
                    transform: scale(1.1);
                }
            }
        }
    }

    .registered-bg {  //註冊窗
        width: 100%;
        height: 100%;
        background: #000000ba;
        z-index: 999;
        position: absolute;

        .registered-box {
            width: 672px;
            height: 420px;
            background: linear-gradient(to bottom, #de53ff 0%,#6403cf 100%);
            border: 3px solid #fff1be;
            border-radius: 20px;
            margin: auto;
            margin-top: 170px;

            .registered-cross {
                width: 61px;
                height: 61px;
                border-radius: 50%;
                background: url(../img/cross.png) no-repeat;
                background-size: 100%;
                left: 33px;
                float: right;
                top: -65px;
                position: relative;
                cursor: pointer;
                transition: 0.4s;

                &:hover,&:active,&.active {
                    transform: rotate(90deg);
                }
            }

            p {
                font-size: 30px;
                color: #fff;
                font-weight: bold;
                position: absolute;
                margin: auto;
                margin: 43px 0 0 302px;
            }

            span {
                width: 33px;
                height: 33px;
                background: url(../img/box-icon-1.png);
                background-size: 100%;
                position: absolute;
                margin: 42px 0 0 263px;
            }
            
            .registered-input-box {

                width: 603px;
                height: 152px;
                margin: auto;
                margin-top: 100px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                input {
                    width: 195px;
                    height: 35px;
                    border-radius: 20px;
                    padding-left: 15px;
                    color: #4c3367;
                    background: #fff;
                    border: none;
                    outline: none;
                    box-shadow: 1px 3px 4px #000000e0;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 12px 0 0px 51px;
                    position: relative;
                }
            }
        }
    }

    header {
        width: 100%;
        height: 108px;
        font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    
        article {
            width: 1400px;
            height: 108px;
            margin: auto;
    
            .top-1 {
                width: 730px;
                height: 44px;
                float: right;
    
                .top-1-box {
                    width: 100%;
                    height: auto;
                    margin-top: 10px;
    
                    input {
                        width: 140px;
                        height: 24px;
                        background: #fff;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                        box-shadow: 1px 3px 4px #000000e0;
                        font-size: 14px;
                        font-weight: bold;
                        padding-left: 30px;
                        margin-left: 8px;
                    }
    
                    .text-picture {
                        width: 15px;
                        height: 15px;
                        background: url(../img/input-icon-1.webp)no-repeat;
                        position: absolute;
                        margin: -20px 0 0 16px;
                    }
                    .password-picture {
                        width: 15px;
                        height: 15px;
                        background: url(../img/input-icon-2.webp) no-repeat;
                        position: absolute;
                        margin: -20px 0 0 200px;
                    }
        
                    button {
                        width: 67px;
                        height: 24px;
                        background:#00000040;
                        border: 2px solid #ffe249;
                        border-radius: 50px;
                        color: #fff;
                        outline: none;
                        cursor: pointer;
                        font-weight: bold;
                        margin-left: 3px;
                        box-shadow: 1px 3px 4px #000000e0;
        
                        &:hover,&:active,&:active {
                            background: linear-gradient(to bottom,#ffeda4 0%,#f5d753  100%);
                            color: #000;
                            border: 2px solid #fff;
                        }
                    }
        
                    .forget-box {
                        width: 88px;
                        height: 24px;
                        background:#00000040;
                        border: 2px solid #ffe249;
                        border-radius: 50px;
                        position: absolute;
                        display: inline;
                        text-align: center;
                        margin-left: 5px;
                        box-shadow: 1px 3px 4px #000000b3;
        
                        .forget {
                            color: #fff;
                            cursor: pointer;
                            font-weight: bold;
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
        
                    .chinese-select {
                        width: 90px;
                        height: 24px;
                        background:#00000040;
                        border: 2px solid #ffe249;
                        border-radius: 50px;
                        line-height: 24px;
                        position: absolute;
                        margin-left: 104px;
                        box-shadow: 1px 3px 4px #000000b3;
        
                        select {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: #fff;
                            font-weight: 600;
                            padding-left: 17px;
                            cursor: pointer;
                            background: none;
                            border: none;
                            appearance:none;
                            outline: none;
                            position: absolute;
                           
        
                            option {
                                background: #ffe249;
                                font-weight: 600;
                                color: #000;
                            }
                        }
                    }
                }
            }
            
            .top-2 {
                width: 1400px;
                height: 64px;
                background-color: #fff;
                border-radius: 50px;
                float: right;
    
                .logo {
                    width: 153px;
                    height: 51px;
                    background: url(../img/logo.webp) no-repeat;
                    background-size: 100%;
                    margin: 3px 0 0 25px;
                    float: left;
                }
    
                ul {
                    width: 1050px;
                    height: 64px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    float: left;
    
                    li {
                       font-size: 18px;
                       text-align: center;
                       line-height: 64px;
                       color: #d7075f;
                       font-weight: bold;
                       cursor: pointer;
                       overflow:hidden;
                       position: relative;
                       transition: 0.3s;

                       &:after {
                        position: absolute;
                        transition: 0.3s;
                        content: '';
                        width: 0;
                        right: 0;
                        left: auto;
                        bottom: 0;
                        height: 4px;
                        background: #d7075f;
                      }

                      &:hover,&:active,&.active{

                        &:after {
                           width: 100%;
                           left: 0;
                        }
                      }


                      a {
                        font-size: 18px;
                        text-align: center;
                        text-decoration: none;
                        line-height: 64px;
                        color: #d7075f;
                        font-weight: bold;
                        cursor: pointer;
                        transition: 0.3s;
                      }
                    }
                }
    
                .top-2-icon {
                    width: 105px;
                    height: 40px;
                    float: left;
                    margin: 13px 0 0 37px;
                    cursor: pointer;
                    font-weight: bold;

                    &:hover,&:active,&.active {

                        animation: swing 1s ease;

                        @keyframes swing {
                            15% {
                                transform: translateY(5px);
                            }
                            30% {
                                transform: translateY(-5px);
                            }
                            50% {
                                transform: translateY(3px);
                            }
                        }
                   }
            
                    p {
                       font-size: 17px;
                       text-align: center;
                       line-height: 40px;
                       color: #d7075f;
                       font-weight: bold;
                       float: right;
                       cursor: pointer;
                    }
    
                   .icon {
                       width: 30px;
                       height: 31px;
                       background: url(../img/top-icon.webp) no-repeat;
                       background-size: cover;
                       position: absolute;
                       cursor: pointer;
                    }
    
                //    .line {
                //       background-position: calc(100% + 32px);
                //     }
    
                //    .message {
                //     background-position: calc(100% + 0px);
                //    }
                }
            }
        }
    }
    
    main {
        width: 100%;
        height: auto;

        article {
            width: 1400px;
            height: auto;
            margin: auto;
            
            .banner {
                width: 1400px;
                height: 405px;

                .swiper-container {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            
                .swiper-slide {
                    width: 100%;
                    height: 405px;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;

                    &.img-1 {
                        background: url(../img/banner-1.webp) no-repeat center;
                        background-size: 100%;
                    }

                    &.img-2 {
                        background: url(../img/banner-2.webp) no-repeat center;  
                        background-size: 100%;
                    }

                    &.img-3 {
                        background: url(../img/banner-1.webp) no-repeat center;  
                        background-size: 100%;
                    }
                }     

                .swiper-pagination {
                    bottom: 45px;

                    .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                        background: #330077;
                        border: 2px solid #ffe249;
                        opacity: unset;
                        outline: none;
                      
                    }
                    .swiper-pagination-bullet-active {
                        background: #fff;
                    }
                    
                } 
            }

            .news {
                width: 1375px;
                height: 37px;
                background: #0000008c;
                border-radius: 50px;
                border: 2px solid #ffe249;
                margin-left: 20px;

                marquee {
                    width: 1300px;
                    height: 37px;
                    line-height: 37px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    padding-left: 30px;
                    margin-left: 25px;
                }
            }

            .news-icon {
                width: 47px;
                height: 46px;
                background: url(../img/news-icon.webp) no-repeat;
                z-index: 99;
                float: left;
                margin: -40px 0 0 0;
            }

            .eight-main {
                width: 100%;
                height: 675px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 35px;

                .eight-bg {
                  width: 315px;
                  height: 305px;
                  background: url(../img/main-bg.webp) no-repeat;
                  cursor: pointer;

                  &:hover,&:active,&.active {

                    filter: brightness(1.1);
                    animation: jump2 0.3s linear 0s;

                    @keyframes jump2 {
                        0% {
                            transform:scale(1, 1);
                        }

                        50% {
                            transform:scale(1.1, 1.1);
                        }

                        100% {
                            transform: scale(1, 1);
                        }
                    }

                    .eight-hover {
                        opacity: 1;
                        animation: circle 0.6s ease-in;
    
                        @keyframes circle {
                          from {transform: rotate(0deg);}
                          to {transform: rotate(360deg);}
                      }
                    }

                    p {
                        color: #ac04ff;
                        font-size: 30px;
                    }
                }

                  .eight-img {
                      width: 315px;
                      height: 305px;
                      background: url(../img/eight-img.webp);
                      position: absolute;
                      margin: -57px 0 0 0;
                      pointer-events: none;
                      transition: 0.3s all;
                  }

                  .girl-2 {
                      background-position-x: calc(100% + 750px);
                  }

                  .fish {
                    background-position-x: calc(100% + 385px);
                  }

                  .tiger {
                    background-position-x: calc(100% + 35px);
                  }

                  .ball{
                    background-position-y: calc(100% + 712px);
                  }

                  .pe {
                    background-position-y: calc(100% + 712px);
                    background-position-x: calc(100% + 730px);
                  }

                  .card {
                    background-position-y: calc(100% + 712px);
                    background-position-x: calc(100% + 385px);
                  }
  
                  .card-2 {
                    background-position-y: calc(100% + 712px);
                    background-position-x: calc(100% + 35px);
                  }

                  .eight-hover {
                      width: 135px;
                      height: 135px;
                      border-radius: 50%;
                      background: #000c;
                      border: 3px dotted #ffffd6;
                      position: absolute;
                      margin: 82px 0 0px 38px;
                      cursor: pointer;
                      transition: 0.5s;
                      opacity: 0;

                      .eight-hover-text {
                        width: 60px;
                        height: 60px;
                        color: #fff1be;
                        font-size: 26px;
                        font-weight: bold;
                        margin: 41px auto;
                        text-align: center;
                        letter-spacing: 2px;

                        &:hover,&:active,&.active {
                            font-size: 28px;
                         }
                      }
                  }
                
                  p {
                      width: 264px;
                      height: 49px;
                      border-radius: 50px;
                      color: #3e0182;
                      font-size: 28px;
                      font-weight: bold;
                      text-align: center;
                      line-height: 49px;
                      margin: 236px 0 0 5px;
                      position: absolute;
                      cursor: pointer;
                  }
                }
            }
        }
    }

    footer {
        width: 100%;
        height:auto;

        .footer-top {
            width: 100%;
            height: 57px;
            background: url(../img/footer-1.webp) no-repeat;

            article {
                width: 1400px;
                height: auto;
                margin: auto;
    
                ul {
                    width: 695px;
                    height: auto;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    float: left;
    
                    li {
                        text-align: center;
                        line-height: 57px;
                        color: #d7075f;
                        font-weight: bold;
                        cursor: pointer;
                        overflow:hidden;
                        position: relative;
                        transition: 0.3s;

                        &:after {
                            position: absolute;
                            transition: 0.3s;
                            content: '';
                            width: 0;
                            right: 0;
                            left: auto;
                            bottom: 0;
                            height: 3px;
                            background: #d7075f;
                        }
    
                          &:hover,&:active,&:active {
                            &:after {
                               width: 100%;
                               left: 0;
                            }
                          }
                    }
                }
    
                span {
                    position: absolute;
                    float: right;
                    text-align: center;
                    line-height: 57px;
                    color: #d7075f;
                    font-weight: bold;
                    right: 320px;
                }
            }
        }

        .footer-bottom {
            width: 100%;
            height: 98px;
            background: #f7ac46d9;

            article {
                width: 1400px;
                height: 98px;
                margin: auto;

                .footer-text {
                    width: 755px;
                    height: auto;
                    margin: auto;
                    padding-top: 16px;

                    p {
                        text-align: center;
                        line-height: 29px;
                        font-size: 13px;
                        color: #291143;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .fix-right {
        width: 223px;
        height: 259px;
        background: url(../img/flix-right.webp) no-repeat;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .fix-left {
        width: 221px;
        height: 298px;
        background: url(../img/flix-left.webp) no-repeat;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .top {
        width: 78px;
        height: 97px;
        background: url(../img/top.webp) no-repeat;
        position: fixed;
        bottom: 99px;
        right: 90px;
        cursor: pointer;
        transition: 0.3s;

        &:hover,&:active,&.active {
            filter: brightness(1.1);
            width: 82px;
            height: 101px;
        }
    }
    .fish-left {
        width: 85px;
        height: 111px;
        background: url(../img/fiiiish.webp) no-repeat;
        position: fixed;
        left: 20px;
        animation:box 3.5s infinite; 

        @keyframes box{
            0%{
                top:350px;
            }
    
            50%{
                top:320px; 
            }
    
            100%{
                top:350px;
            }
        }
    
    }
    .cell-download {
        width: 62px;
        height: 88px;
        background: url(../img/fix-icon.webp) no-repeat;
        position: fixed;
        top: 172px;
        left: 20px;
        cursor: pointer;
        z-index: 10;

        .cell-img {
            width: 35px;
            height: 43px;
            background: url(../img/iphon.webp)no-repeat;
            margin: 20px 0 0 9px;
        }

        .cell-text {
            width: 35px;
            height: 88px;
            text-align: center;
            line-height: 35px;
            width: 20px;
            height: 88px;
            writing-mode:vertical-lr;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            margin: -62px 0px 0px 61px;
            pointer-events: none;
            display: none;
        }

        &:hover,&:active,&:active {
            background-position-x: calc(100% - 0px);
            animation: swing 1s ease;

            .cell-img {
                background-position-x: calc(100% - 0px);
            }

            .cell-text {
                display: block;
                pointer-events: visible;
            }

            .cell-box {
                display: block;
                pointer-events: visible;
            }

        }

        .cell-box {
            width: 62px;
            height: 281px;
            margin-top: -5px;
            position: absolute;
            display: none;
            pointer-events: none;

            .cell-iconbox {
                width: 62px;
                height: 63px;
                background: url(../img/left-circle.webp) no-repeat;
                margin-top: 10px;
                position: relative;

                &:hover,&:active,&.active {
                    background-position-y: calc(100% - 1px);

                    p {
                        color: #fff;
                    }
                }

                p {
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #330077;
                    text-align: center;
                    padding-left: 12px;
                    padding-top: 12px;
                    line-height: 18px;
                    transition: 0.3s;
                }
            }
        }
    }
    
    .download-24 {
        width: 62px;
        height: 88px;
        background: url(../img/fix-icon.webp) no-repeat;
        background-position-x: calc(100% - 0px);
        position: fixed;
        top: 172px;
        right: 20px;
        cursor: pointer;
        z-index: 10;

        .download-24-img {
            width: 41px;
            height: 35px;
            background: url(../img/24-icon.webp);
            background-position-x: calc(100% - 0px);
            margin: 23px auto;
            cursor: pointer;
        }

        .download-text {
            width: 35px;
            height: 88px;
            text-align: center;
            line-height: 35px;
            writing-mode:vertical-lr;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            margin: 4px 0px 0px -33px;
            position: absolute;
            pointer-events: none;
            display: none;
        }

        &:hover,&:active,&:active {
            background-position-x: calc(100% + 63px);
            animation: swing 1s ease;

            .download-24-img {
                background-position-x:calc(100% + 41px);
            }

            .download-text {
                display: block;
                pointer-events: visible;
            }

            .download-box {
                display: block;
                pointer-events: visible;
            }
        }

        .download-box {
            width: 63px;
            height: 160px;
            position: absolute;
            display: none;
            pointer-events: none;

            .download-iconbox {
                width: 62px;
                height: 63px;
                background: url(../img/left-circle.webp) no-repeat;
                margin-top: 12px;

                &:hover,&:active,&.active {
                    background-position-y: calc(100% - 0px);

                    .download-message {
                        background-position-y: calc(100% - 0px);
                    }

                    .download-line {
                        background-position-y: calc(100% - 0px);
                    }
                }

                .download-message {
                    width: 31px;
                    height: 31px;
                    background: url(../img/right-message.webp) no-repeat;
                    background-size: 100%;
                    margin: 13px 0 0 14px;
                    position: absolute;
                }

                .download-line {
                    width: 33px;
                    height: 31px;
                    background: url(../img/right-line.webp) no-repeat;
                    background-size: 100%;
                    margin: 14px 0 0 14px;
                    position: absolute;
                }
            }
        }
    }

    .bubble {
        width: 54px;
        height: 56px;
        background: url(../img/bubbo.webp) no-repeat;
        position: fixed;
        right: 48px;
        animation:box-2 2.5s infinite; 

        @keyframes box-2 {
            0%{
                bottom: 130px;
            }
    
            50%{
                bottom: 140px;
            }
    
            100%{
                bottom: 130px;
            }
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/bg.webp)  no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -999;
    }
}
